<ion-header>
</ion-header>

<ion-content class="card-background-page" id="home">
    <ion-grid no-padding responsive-sm>
        <ion-row responsive-sm *ngFor="let rowTasks of formatedTaskList">
            <ion-col *ngFor="let task of rowTasks">
                <ion-card class="task {{task.done}}" (click)="goToKeepList(task)">
                    <div class="card-parent">
                        <div class="noimg" *ngIf="!task.DownloadUrl">
                            <div class="title">{{task.title}}</div>
                        </div>
                        <div *ngIf="task.DownloadUrl | async as url">
                            <img-loader [imgAttributes]="imageAttributes" [src]="url" useImg></img-loader>
                        </div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom>
        <input-task-button color="instagram"></input-task-button>
    </ion-fab>
    <ion-fab left bottom>
        <dev-button color="primary"></dev-button>
    </ion-fab>
</ion-content>
