<ion-header>
</ion-header>

<ion-content class="card-background-page" id="home">
<ion-fab bottom right class="tool">
    <button ion-fab color="dark" class="">
        <ion-icon name="hammer"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="dark" (click)="taskInfoViewToggle()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-fab color="dark">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-fab color="dark" (click)="goToAccount()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-fab color="dark" (click)="gotoInputTask()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab color="dark" (click)="gotoTestRegistration()">
        <ion-icon name="sad"></ion-icon>
      </button>
      <button ion-fab color="dark" (click)="gotoTestList()">
        <ion-icon name="sad"></ion-icon>
      </button>
  </ion-fab-list>
  </ion-fab>
  <ion-grid no-padding responsive-sm >
    <ion-row responsive-sm *ngFor="let row_tasks of tasks">
      <ion-col *ngFor="let task of row_tasks">
        <ion-card class="task {{task.status}}" (click)="goToKeepList(task)">
          <div class="card-parent">
            <input class="task_id" type="hidden" value="{{task.id}}">
            <img class="task_img {{task.status}}" src={{task.src}} *ngIf="task.src != null"/>
            <div class="no_img" *ngIf="task.src == null">
              <div class="title">{{task.title}}</div>
            </div>
            <div class="task_info animated fadeInUp" *ngIf="taskInfoVisible">
              <div class="card-title">{{task.title}}</div>
              <div class="limt">{{task.limit}}</div>
              <div class="assign">
                <div class="{{task.assign}} circle right"></div>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
