<ion-header>
    <ion-navbar>
      <ion-title>テストエンティティ一覧</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="singlePost" *ngFor="let test of testListVms">
    <ion-item>
      <h2 padding-vertical>{{test.title}}</h2>
    </ion-item>
    <ion-card-content>
      <div>{{test.description}}</div>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="onClickToSubCollection(test)">
            <ion-icon name="text"></ion-icon>
            <div>サブコレクションへ</div>
          </button>
        </ion-col>
        <ion-col>
          <ion-note>
            {{test.refPath}}
          </ion-note>
        </ion-col>
        <ion-col class="postedTime">
          <ion-note>
            {{test.created}}
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
          <div *ngIf="test.downloadUrl | async as url">
              <img-loader [src]="url" useImg></img-loader><br>
          </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>