<!--
  Generated template for the KeepPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="dark">
    <ion-title>キープ詳細</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <p class="right" (click)="showMenu()"><ion-icon name="more"></ion-icon></p>
    <div *ngIf="KeepVm.downloadUrl | async as url">
        <img [src]="url"><br>
    </div>
  </ion-item>
  <button ion-button icon-only color="danger" clear (click)="manFavChange()">
    <ion-icon name="heart" ></ion-icon>
  </button>
  <button ion-button icon-only color="danger" clear (click)="womanFavChange()">
      <ion-icon name="heart"></ion-icon>
  </button>
  <button ion-button (click)="decideStatusChange()">決定</button>

  <ion-list>
    <ion-item *ngFor="let t of commentListVms;let i = index" (tap)="changeComment(i)">太郎：{{t.comment}}(user:{{t.createUser}})</ion-item>
  </ion-list>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <form #registrationForm="ngForm" novalidate>
      <ion-input [(ngModel)]="commentRegistrationVm.comment" type="text" name="comment" placeholder="コメント"></ion-input>
      <ion-buttons slot="end">
        <button ion-button slot="end" (click)="onClickRegistration(registrationForm)" type="submit">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </form>
  </ion-toolbar>
</ion-footer>
