<ion-header>
  <ion-navbar>
    <ion-title>My Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding text-center>
    <div *ngIf="avatarPhoto" class="avatar" [style.background-image]="'url('+ avatarPhoto +')'"></div>

    <button ion-button clear (click)="selectAvatar()">Change photo</button>

    <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let attr of attributes">
        <strong>{{ attr.name }}</strong> {{ attr.value }}
      </ion-item>
    </ion-list>
  </div>

  <div padding text-center>
    <button ion-button round outline (click)='signOut()'>サインアウト</button>
  </div>

  <div padding text-center>
    <button ion-button round outline (click)='changePassword()'>パスワード変更</button>
  </div>

</ion-content>
